@charset "UTF-8";
/*轮播图开始*/
.banner {
    width: 100%;
    height: 336px;
    position: relative;
}

.banner-in {
    width: 982px;
    height: 336px;
    margin: 0 auto;
    position: relative;

}

.banner-in-left {
    width: 730px;
    height: 336px;
    position: relative;
    overflow: hidden;
}
.banner-in-left ul {
    width: 8000px;
    height: 336px;
    overflow: hidden;
    position: absolute;
}
.banner-in-left li {
    float: left;
    overflow: hidden;
}
#ball {
    width: 184px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -80px;
}
#ball li {
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #bab9ec;
    margin-right: 15px;
    cursor: pointer;
}
.banner-in-download {
    width: 252px;
    height: 336px;
    background: url("../img/download.png") no-repeat 0 0;
    position: absolute;
    top: 0;
    right: 0;
}

.banner-in-download a {
    position: absolute;
    width: 214px;
    height: 56px;
    top: 212px;
    left: 50%;
    margin-left: -107px;
    text-indent: -9999PX;
    overflow: hidden;
}

.banner-in-download a:hover {
    background: url("../img/download.png") no-repeat 0 340px;
}

#arr {
    display: none;
}
#arr a {
    width: 40px;
    height: 80px;
    position: absolute;
    left: 122px;
    top: 50%;
    margin-top: -40px;
    cursor: pointer;
    line-height: 80px;
    text-align: center;
    font-family: '黑体';
    font-size: 60px;
    color: #fff;
    text-decoration: none;
}
#arr #arrRight {
    right: 122px;
    left: auto;
}

/*轮播图结束*/

/*主内容部分开始*/

.main {
    width: 980px;
    margin: 0 auto;
    height: 1440px;
    border: 1px solid #d3d3d3;
    border-bottom: 0;
    background: #ffffff;
}

.main-left {
    width: 690px;
    border-right: 1px solid #d3d3d3;
    height: 1380px;
    padding: 20px 20px 40px;
    float: left;
}

/*热门推荐部分开始*/

.main-amway {
    width: 689px;
    height: 570px;
    overflow: hidden;
}

.main-amway-top {
    height: 33px;
    padding: 0 10px 0 34px;
    background: url(../img/index.png) no-repeat;
    background-position: -225px -156px;
    border-bottom: 2px solid #C10D0C;
}

.main-amway-top-one {
    float: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
}

.main-amway-top-one:hover {
    text-decoration: none;
}

.main-amway-top-two {
    font-size: 12px;
    float: left;
    margin: 7px 0px 0px 20px;
}

.main-amway-top-two a {
    color: rgb(51, 51, 51);
    margin: 0 8px;
}

.main-amway-top-three {
    float: right;
    margin-top: 6px;
}

.main-amway-top-three i {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    background: url(../img/index.png);
    background-position: 0px -240px;
    vertical-align: middle;
}

.main-amway ul {
    width: 900px;
    height: 410px;
    margin: 20px 0 0 -42px;
}

.main-amway ul li {
    width: 140px;
    height: 204px;
    padding-left: 42px;
    float: left;
}

.main-amway ul li a {
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
    position: relative;
}

.main-amway ul li a p {
    width: 140px;
    height: 27px;
    line-height: 27px;
    background: rgba(0, 0, 0, 0.6);
    /*padding-left: 30px;*/
    position: absolute;
    color: #cccccc;
    font-size: 12px;
    bottom: 0px;
}

.main-amway ul li a p i {
    display: inline-block;
    width: 14px;
    height: 11px;
    background: url(../img/iconall.png) no-repeat 0 -21px;
    margin: 0 2px 0 10px;
}

.main-amway ul li a p s {
    float: right;
    margin: 5px 10px 0 0;
    width: 16px;
    height: 17px;
    background: url(../img/iconall.png) no-repeat;
}

.main-amway ul li a p s:hover {
    background-position: 0 -60px;
}

.main-amway-ad {
    display: block;
    height: 75px;
}

/*热门推荐部分结束*/
/*碟片部分开始*/
.slideShow{
    width:690px;
    height: 250px;
    margin-bottom: 20px;
}
.slideShow-DVD{
    margin-top: 20px;
    height: 186px;
    width: 688px;
    border: 1px solid #D3D3D3;
    background-color: #F5F5F5;
    position: relative;
}
.slideShow-DVD-list{
    width: 3000px;
    position: absolute;
}
.slideShow-DVD-list a{
    text-decoration: none;
}
.slideShow-DVD-div{
    width: 640px;
    height: 150px;
    margin-top: 30px;
    margin-left: 27px;
    overflow: hidden;
    position: relative;
}
.list-left{
    position: absolute;
    float: left;
    width: 7px;
    height: 13px;
    left: 10px;
    top:74px;
    background: url(../img/index.png) no-repeat -265px -77px;
}
.list-right{
    position: absolute;
    float: left;
    width: 7px;
    height: 13px;;
    right: 10px;
    top:74px;
    background: url(../img/index.png) no-repeat -306px -77px;
}
.slideShow-DVD-list li{
    float: left;
    width: 115px;
    height: 100px;
    background: url("../img/coverall.png") no-repeat 0 -570px;
    margin-left: 16px;
}
.slideShow-DVD-list .list1{
    margin-left: 1px;
}
.slideShow-DVD-list h4{
    font-size: 12px;
    height: 18px;
    line-height: 20px;
    margin-top: 7px;
}
.slideShow-DVD-list p{
    font-size: 12px;
    height: 18px;
    line-height: 8px;
    margin-top: 7px;
    color: #666;
}
/*碟片部分结束*/
/*榜单部分开始*/

.fl {
    float: left;
}

.fr {
    float: right;
}

.hide {
    display: none;
}
.main-list {
    width: 689px;
    height: 550px;
}
.billboard {
    border: 1px solid #D3D3D3;
    height: 570px;
    margin-top:100px;
}
.billboard a:hover{
    text-decoration: underline;
}
.billboard-left {
    width: 689px;
    height: 570px;
}
.billboard-left-content {
    width: 687px;
    height: 470px;
    border: 1px solid #C7C7C7;
    margin-top: 30px;
}
.billboard-left-content img{
    width: 80px;
    height: 80px;
    margin-top:19px;
    margin-left:19px;
}
.billboard-left-content ol{
    width: 228px;
    height: 320px;
}
.billboard-left-content li{
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    position: relative;
}
.billboard-left-content li span{
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    margin-left:10px;
}
.billboard-left-content-l-b-last{
    width: 85px;
    padding-left:143px;
    font-family: Arial, Helvetica, sans-serif;
    height: 32px;
    line-height: 32px;
    background-color: #E8E8E8;
}
.billboard-left-content .red{
    color: #c10d0c;
}
.billboard-left-content-l {
    width: 228px;
    height: 470px;
    border-right: 1px solid #C3C3C3;
}
.billboard-left-content-l-t{
    width: 228px;
    height: 118px;
    background-color: #F4F4F4;
}
.billboard-left-content-l-t-con{
    width: 104px;
    height: 46px;
    margin-right:15px;
    margin-top:29px;
    font-size: 14px;
    font-weight: 700;
}
.billboard-left-content-l-t-con p a{
    font-size: 14px;
}
.sprite3{
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-top:13px;
    margin-right:10px;
    background: url(../img/index.png) no-repeat -266px -204px;
}
span.sprite3:hover{
    background: url(../img/index.png) no-repeat -266px -234px;
}
.sprite4{
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-top:13px;
    background: url(../img/index.png) no-repeat -300px -207px;
}
span.sprite4:hover{
    background: url(../img/index.png) no-repeat -300px -237px;
}
.billboard-left-content-m {
    width: 229px;
    height: 470px;
    border-right: 1px solid #C3C3C3;
}
.billboard-left-content-m-t{
    width: 228px;
    height: 118px;
    background-color: #F4F4F4;
}

.billboard-left-content-r {
    width: 228px;
    height: 470px;
}
.billboard-left-content-r-t{
    width: 228px;
    height: 118px;
    background-color: #F4F4F4;
}

.billboard-left-content-l-b .sprite5{
    position: absolute;
    width: 17px;
    height: 17px;
    left:150px;
    top: 7px;
    cursor: pointer;
    background: url(../img/index.png) no-repeat -267px -268px;
}
.billboard-left-content-l-b .sprite6{
    position: absolute;
    width: 17px;
    height: 17px;
    left:180px;
    top: 7px;
    cursor: pointer;
    background: url(../img/index.png) no-repeat -297px -268px;
}
.billboard-left-content-m-b .sprite5{
    position: absolute;
    width: 46px;
    height: 17px;
    left:150px;
    top: 7px;
    cursor: pointer;
    background: url(../img/index.png) no-repeat -267px -268px;
}
.billboard-left-content-m-b .sprite6{
    position: absolute;
    width: 17px;
    height: 17px;
    left:180px;
    top: 7px;
    cursor: pointer;
    background: url(../img/index.png) no-repeat -297px -268px;
}
.billboard-left-content-r-b .sprite5{
    position: absolute;
    width: 46px;
    height: 17px;
    left:150px;
    top: 7px;
    cursor: pointer;
    background: url(../img/index.png) no-repeat -267px -268px;
}
.billboard-left-content-r-b .sprite6{
    position: absolute;
    width: 17px;
    height: 17px;
    left:180px;
    top: 7px;
    cursor: pointer;
    background: url(../img/index.png) no-repeat -297px -268px;
}
/*榜单部分结束*/
/*右侧样式开始*/

.main-r {
    width: 248px;
    float: left;
}
/*登录界面开始*/

.login-top #beforeLogin {
    width: 248px;
    background: url("../img/index.png") no-repeat;
    border-bottom: 1px solid #b1b1b1;
}

.login-top p {
    width: 205px;
    margin: 0 auto;
    padding: 16px 0;
    color: #666;
    font: 12px/22px Arial, Helvetica, sans-serif;
}

.login-top #beforeLogin a {
    color: #fff;
    font-size: 14px;
    display: block;
    width: 100px;
    height: 30px;
    text-decoration: none;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
    background: url("../img/index.png") no-repeat 0 -195px;
}

.login-top #beforeLogin a:hover {
    background-position: -110px -195px;
}

/*登录界面结束*/

/*歌手部分开始*/

.singer-mid,
.DJ-bottom {
    margin-top: 15px;
    padding: 0 20px;
    width: 210px;
    margin-bottom: 20px;
}
/*.singer-title{*/
    /*margin-top: 25px;*/
/*}*/
.singer-title,
.DJ-title {
    width: 210px;
    height: 24px;
    border-bottom: 1px solid #b1b1b1;
}
.singer-title .singer-mid-link {
    display: block;
    float: right;
    color: #666;
}

.singer-part {
    margin-bottom: 14px;
}

.singer-part .head-pic {
    display: block;
    float: left;
}

.singer-part .singer-text {
    width: 132px;
    height: 44px;
    float: right;
    display: block;
    text-decoration: none;
    padding: 8px 0 8px 15px;
    background-color: #fafafa;
    border: 1px solid #e9e9e9;
    border-left: none;
}

.singer-text .name {
    color: #000;
    display: block;
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: bold;
}

.singer-text .js {
    color: #666;
}

.singer-mid .one {
    margin-top: 20px;
}

.singer-mid .sQ {
    display: block;
    width: 210px;
    height: 30px;
    color: #000;
    text-decoration: none;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
    background: url("../img/button2.png") no-repeat 0 -305px;
}

.singer-mid .sQ:hover {
    background-position: 0 -59px;
}

/*歌手部分结束*/

/*DJ部分开始*/

.DJ-part {
    width: 210px;
}

.DJ-part .head-pic {
    float: left;
}

.DJ-bottom .one {
    margin-top: 20px;
}

.DJ-part .DJ-text {
    width: 160px;
    height: 40px;
    float: right;
    margin-bottom: 10px;
    padding-left: 10px;
}

.DJ-text .name {
    color: #000;
    display: block;
}

.DJ-text span {
    color: #666;
}

.DJ-text i {
    display: inline-block;
    width: 11px;
    height: 13px;
    margin-left: 3px;
    vertical-align: middle;
    background: url("../img/icon.png") no-repeat;
}

/*DJ部分结束*/

/*右侧样式结束*/

/*主内容部分结束*/